<div class="number">{{id}}</div>
<div class="thumb {{sprites}}"></div>
<div class="name">{{name}}</div>
<div class="types">
    {{#each type}}
        <div class="itype type-{{this}}">{{this}}</div>
    {{/each}}
</div>
